Bio==1.6.0
biopython==1.81
Cython==3.0.7
matplotlib==3.8.2
numpy==1.26.2
oauth2client==4.1.3
pandas==2.1.4
parasail==1.1.11
Pillow==10.1.0
Pillow==10.1.0
protobuf==4.25.1
PuLP==2.7.0
pydrive==1.3.1
scipy==1.11.4
setuptools==68.2.2
snapgene_reader==0.1.20
tqdm==4.66.1
